@model ChangePasswordModel
<div class="wrapper">
    <div class="sidebar">
        <ul class="list-unstyled">
            <li><a href="/">Home</a></li>
            <li><a class="active" href="/Users/ChangePassword">Change Password</a></li>
            <li><a href="/Users/LogOut">Log Out</a></li>
        </ul>
    </div>
    <div class="content">
        <div class="container-fluid">
            <div id="login-wrapper">
                <div class="bg-primary m-1 p-1 text-white"><h4>Change Password</h4></div>

                <div class="text-danger" asp-validation-summary="All"></div>

                <form asp-action="ChangePassword" method="post">
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" />
                    </div>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
